/* Write CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  height: 100vh;
  background-size: cover;
}
.container {
  width: 30%;
}
