.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.search-container {
  background-color: #f1f5f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.search {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 7px;
}
.category-list-container {
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
}
.rating-list-container {
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
}
.category-item {
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}
.rating-item {
  border: 1px solid #000000;
  padding: 20px;
}
.rating-image {
  width: 200px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}
.clear-filter {
  background-color: transparent;
  border: 1px solid #0967d2;
  color: #0967d2;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
.image-container {
  display: flex;
  align-items: center;
}
