/* Write your CSS here */

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  margin-left: 20px;
  background-color: #ffffff;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  outline: none;
}
.title {
  font-weight: 700;
  color: #000000;
}
